
@model PolaHotel.Models.Reservation


<h2>Thanks for Reservation</h2>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        @*<h5 class="card-title"></h5>*@
        <h6 class="card-subtitle mb-2 text-muted">@Model.choutOut</h6>
        <p class="card-text">@Model.ChickIn</p>
        <a href="#" class="card-link">@Model.Adult</a>
        <a href="#" class="card-link">@Model.Childern</a>
    </div>
</div>

